@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles */
body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @apply text-gray-500 m-8;
}
