.allWorkouts{
    display: flex;
    justify-contenct: space-evenly;
    flex-wrap: wrap;
    background-color: #d5d6ed;
    justify-content: space-evenly;
}

.workoutBox{
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 20px;
}