.allWorkouts{
    display: flex;
    justify-contenct: space-evenly;
    flex-wrap: wrap;
    background-color: #d5d6ed;
    justify-content: space-evenly;
}

.workoutBox{
    
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 15px;
    flex-shrink: 0;
    flex-basis: 200px;
    margin: 20px;

}

.pageText{
    display: flex;
    justify-content: center;
}

.textBlock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
   background-color: #000000;

}
.inputBlock{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}   s

.formClass:{
display: flex;
justify-content: center;

}

.workoutMakerBody{
border: 8px solid #d5d6ed;
background-color: #d5d6ed;
border-radius: 30px;

}

.formFormClass{
display: flex;
align-items: center;

;}
body{
 display: flex;
 justify-content: center;
 }



